html, body{
    background: black;    
}
#work-history {

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;    
    
    margin-top: 5px;
    padding-bottom: 10px;
    }


.mydashbackground {background-color: black}


#return {
    text-align: center;

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    background-color: black;
    margin-top: 50px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.btn:hover,
.btn:focus,
.btn:active {
    border: 1px solid greenyellow;
    outline: 0;
    color: #000;
    background-color: greenyellow;
}



.green {
    color: yellowgreen;
}
ul {
    list-style-type: disc;
    
    
}


#page-top{
    background: black;
}

.panel-body{
    background: black;
}

.panel-heading{
    background-color: yellowgreen !important;
    color: black !important;
    text-align: center;
    border-bottom: yellowgreen !important;
    ;
}

.panel{
    background-color: black !important;
    border: 2px solid yellowgreen !important;
}

li{
    border: 2px solid yellowgreen;
    margin: 5px;
    padding:5px;
}