body{
    background: black;
    
    
}
#work-history {

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;    
    max-height: 100%
    }


.mydashbackground {background-color: black}


#return {
    text-align: center;

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    background-color: black;
}

.btn:hover,
.btn:focus,
.btn:active {
    border: 1px solid greenyellow;
    outline: 0;
    color: #000;
    background-color: greenyellow;
}

#page-title {
    color: yellowgreen;
    padding: 5px;
    border: 2px solid yellowgreen;
   
}

.green {
    color: yellowgreen;
}
ul {
    list-style-type: none;
    text-align: center;
}

#sidebar{
    background-color: yellowgreen;
    border-right: 5px black dashed;
    min-height:    200%;
            
}


.container-fluid{background: black;}

#empty{
    min-height:  200%;
    background-color: greenyellow;
    border-left: 5px black dashed
}