html, body{
    background: black;    
}
#work-history {

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;    
    border: 1px solid yellowgreen;
    margin-top: 5px;
    padding-bottom: 10px;
    }


.mydashbackground {background-color: black}


#return {
    text-align: center;

}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 1px solid yellowgreen;
    color: yellowgreen;
    background-color: black;
    margin-top: 50px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.btn:hover,
.btn:focus,
.btn:active {
    border: 1px solid greenyellow;
    outline: 0;
    color: #000;
    background-color: greenyellow;
}

#page-title {
    color: yellowgreen;
    padding: 5px;
    border: 2px solid yellowgreen;
   
}

.green {
    color: yellowgreen;
}
ul {
    list-style-type: disc;
    
}

#sidebar{
    background-color: yellowgreen;
    border-right: 5px dashed black;
    height: 100%;
    position: fixed;
    left: 0;
}


.container-fluid{background: black;}

#empty{
    background-color: yellowgreen;
    border-left: 5px dashed black;
    height:100%;
    position: fixed;
    right: 0

}

#content{
    position:absolute;
    height: 100%;
   
}

#page-top{
    background: black;
}